html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Playfair Display', serif; }

.slider-desc {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .slider-desc .title {
    font-size: 95px;
    font-weight: bold;
    margin: 0 0 10px; }
  .slider-desc .desc {
    font-size: 18px;
    line-height: 1.4; }
.audio{
/*设置音乐显示位置*/
	width:45px;
	position:fixed;top:100px;left:94%;
	z-index:100;
	filter:alpha(opacity=30);
      -moz-opacity:0.3;
      -khtml-opacity: 0.3;
      opacity: 0.3;
  }
  .page-title__title .typing__module {
    display: inline-block;
}
