html,
body {
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Microsoft Yahei';
    color: #ffffff;
    padding: 0;
    margin: 0;
}

h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

div {
    display: block;
}

@font-face {
    font-family: 'Pinyon Script';
    src: url("../fonts/PinyonScript-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#mobile {
    background-image: url("../imgs/section_mobile_bg.jpg");
    text-align: center;
}

#mobile h3 {
    font-size: 6rem;
    font-family: 'Pinyon Scirpt';
    font-weight: 600;
    text-shadow: 5px 5px 0.3rem #62819d;
    margin-bottom: 2rem;
}

#mobile h4 {
    font-size: 3rem;
    text-shadow: 10px 10px 0.2rem #62819d;
}

.cover-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}

.section-inner {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
}

#mobile .description {
    margin-top: 3rem;
}

#mobile .description>p {
    font-size: 1.5rem;
}

.row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

.row:before,
.row:after {
    content: '';
    display: table;
}

.row:after {
    clear: both;
}

#mobile .list {
    text-align: center;
    margin: 3rem 0 1.5rem;
}

#mobile .list i {
    font-size: 3rem;
    padding: 2rem;
}

#mobile .list h5 {
    font-size: 1.3rem;
    font-weight: normal;
}

.col-xs-6,
.col-md-3 {
    position: relative;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
    box-sizing: border-box;
}

.col-xs-6 {
    width: 50%;
}

.col-md-3 {
    float: left;
    width: 25%;
}